/* CUSTOM PROPERTIES */

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-secundary: hsl(341, 38%, 79%);
    --color-primary: hsl(340, 44%, 88%);
    --color-primary-strong: hsl(340, 44%, 70%);
    --color-black: hsl(0, 0%, 11%)
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
body {
    background-color: #e9e2e3;
    margin: 0;
    /* overflow-x: hidden; */
}

header {
    position: fixed;
    width: 100%;
    padding: 40px 0;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 1;
    /* opacity: 0; */
}

header.rolagem {
    background-color: var(--color-black);
    padding: 10px 0;
}

header.rolagem ul li a {
    color: var(--color-primary);
}

header.rolagem .encomenda {
    color: var(--color-primary);
}

header .logo img {
    width: 120px;
}

.primary-navigation {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: var(--gap, 1rem);
}

.mobile-nav-toggle {
    display: none;
}

header ul li {
    margin: 0px 40px;
}

header ul li a {
    color: #Fff;
    font-weight: bold;
    text-shadow: 1px 0px 2px var(--color-primary);
    text-decoration: none;
    font-size: 20px;
}

.btn-registro {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 0px 2px var(--color-primary);
    text-shadow: 1px 0 2px var(--color-black);
    text-decoration: none;
    font-size: 20px;
    background: var(--color-secundary);
    padding: 7.5px 15px;
    border-radius: 25px;
    transition: 0.5s;
    display: none;
}

.encomenda {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 0px 2px var(--color-primary);
    font-size: 20px;
    font-weight: bold;
}

.container-header {
    max-width: 1280px;
    margin: auto;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: url(../img/editad.jpg);
    background-repeat: no-repeat;
    filter: blur();

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: inherit;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.is-hidden {
    display: none;
}

@media (max-width: 35em) {
    .primary-navigation {
        gap: var(--gap, 2em);

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 0% / .75);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        background-image: url(../img/burguer_menu2.svg);
        background-size: cover;
        background-color: transparent;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        background-repeat: no-repeat;
        top: 3rem;
        right: 3rem;
        z-index: 9999;
        transition: 0.5s;
        cursor: pointer;
    }

    header {
        padding-left: 50px;
    }

    header.rolagem {
        padding-left: 25px;
    }

    header.rolagem .mobile-nav-toggle {
        top: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../img/x.svg);
    }

    .banner {
        width: 100%;
        min-height: 60vh;
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation {
        gap: var(--gap, 2em);

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0 0% 0% / .75);
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        background-image: url(../img/burguer_menu2.svg);
        background-size: cover;
        background-color: transparent;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        background-repeat: no-repeat;
        top: 3rem;
        right: 3rem;
        z-index: 9999;
        transition: 0.5s;
    }

    header {
        padding-left: 50px;
    }

    header.rolagem .mobile-nav-toggle {
        top: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../img/X.svg);
    }

    .banner {
        width: 100%;
    }

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.action {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a13dea;
    font-size: 2em;
    transition: 0.3s ease-in-out;
}

.action.active span {
    transform: rotate(135deg);
}

.action ul {
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.action.active ul {
    bottom: 65px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.action ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
}

.action ul li:hover {
    font-weight: 600;
}

.action ul li:not(:last) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img {
    opacity: 0.2;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transform: scale(0.8);
}

.action ul li:hover img {
    opacity: 0.8;
}

.action ul li a {
    text-decoration: none;
    color: #1c1c1c;
}