/* CUSTOM PROPERTIES */

:root {
    --color-secundary: hsl(341, 38%, 79%);
    --color-primary: hsl(340, 44%, 88%);
    --color-black: hsl(0, 0%, 11%)
}

.flex {
    display: flex;
}

.header-ul {
    align-items: center;
    justify-content: space-between;
}


/* MAIN */

.banner h1 {
    font-size: 3em;
    margin: 0;
    color: #fff;
}

.banner span {
    color: var(--color-primary);
}

.banner p {
    color: #fff;
    font-size: 3em;
}

main h1 {
    margin: 0;
    padding: 15px;
    text-align: center;
    background-color: var(--color-secundary);
}



.quadrados {
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.sobremim {
    width: 59%;
    min-height: 30vh;
    border-radius: 15px;
    margin: 15px;
    font-size: 1.5em;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.retangulo {
    margin-left: 15px;
    height: 60vh;
    width: 1%;
    background: var(--color-secundary);
    margin-right: 10px;
}

.sobremim-foto {
    width: 510px;
    height: 676px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary);
    margin-right: 10px;
}

.sobremim-foto img {
    width: 500px;
    height: 666px;
    object-fit: cover;
    aspect-ratio: 3 / 4;
    border-radius: 1em;
}

@media (max-width: 1024px) {
    .banner h1 {
        font-size: 2.5em;
    }

    .banner p {
        font-size: 2.5em;
    }

    .quadrados {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .retangulo {
        display: none;
    }

    .sobremim p {
        line-height: 1.4;
    }
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 2em;
    }

    .banner p {
        font-size: 2em;
    }

    .quadrados {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .retangulo {
        display: none;
    }
}

@media (max-width: 425px) {

    .banner h1 {
        font-size: 1.2em;
    }
    
    .banner p {
        font-size: 1.2em;
    }
    
    .sobremim-foto {
        margin-top: 50px;
        width: 310px;
        aspect-ratio: 0.7508;
    }

    .sobremim-foto img {
        width: 300px;
        aspect-ratio: 0.7508;
    }

    .sobremim {
        line-height: 1.5;
        text-align: center;
    }
}

.is-hidden { display: none; }